.container{
display:grid;
grid-template-rows: 1fr;
grid-template-columns: 1fr 1fr;
}

.header{
grid-column-start:1;
grid-column-end:3;
grid-row-start:1;
grid-row-end:1;
color:#ffffff;
}

.image-a{
grid-column-start:2;
grid-column-end:2;
}

.image-b{
grid-column-start:2;
grid-column-end:2;
}

.image-c{
grid-column-start:2;
grid-column-end:2;
}

.image-d{
grid-column-start:2;
grid-column-end:2;
}

.image-e{
grid-column-start:2;
grid-column-end:2;
}

.image-f{
grid-column-start:2;
grid-column-end:2;
}

.image-g{
grid-column-start:2;
grid-column-end:2;
}

.image-h{
grid-column-start:2;
grid-column-end:2;
}

.image-i{
grid-column-start:2;
grid-column-end:2;
}

.image-j{
grid-column-start:2;
grid-column-end:2;
}

.text-1{
grid-column-start:1;
grid-column-end:1;
color:#ffffff;
}

.text-2{
grid-column-start:1;
grid-column-end:1;
color:#ffffff;
}

.text-3{
grid-column-start:1;
grid-column-end:1;
color:#ffffff;
}

.text-4{
grid-column-start:1;
grid-column-end:1;
color:#ffffff;
}

.text-5{
grid-column-start:1;
grid-column-end:1;
color:#ffffff;
}

.text-6{
grid-column-start:1;
grid-column-end:1;
color:#ffffff;
}

.text-7{
grid-column-start:1;
grid-column-end:1;
color:#ffffff;
}

.text-8{
grid-column-start:1;
grid-column-end:1;
color:#ffffff;
}

.text-9{
grid-column-start:1;
grid-column-end:1;
color:#ffffff;
}

.text-10{
grid-column-start:1;
grid-column-end:1;
color:#ffffff;
}

.footer{
grid-column-start:1;
grid-column-end:3;
grid-row-start:2;
grid-row-end:3;
color:#ffffff;
}
